@import "navbar.css";
@import "block_button.css";
@import "down_bar.css";

@font-face {
    font-family: "my_iran_sans";
    src:url("../fonts/IRAN-sans.ttf");
}
*{
    font-family: "my_iran_sans";

}
.center{
    display: flex;
    background-color: #f1f1f1;
}
.our_signs{
    display: flex;
    background-color: #f1f1f1;
}
.map{
    display: flex;
    background-color: #f1f1f1;
}
.caution {
    direction: rtl;
    display: flex;
    background-color: #8b3d2f;
}