.nav_bar_top {
    display: flex;
    background-color: dimgray;
}

.nav_bar_top > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 20%;
}
.nav_bar_down {
    margin-top: 1px;
    height: 42px;
    display: flex;
}

.nav_bar_down > div {
    background-color: #ffffff;
    text-align: center;
    height: 100%;
    width: 20%;
}
.flex_grower{
    flex-grow: 1;
}
.sign{
    border: 1px solid dimgray;
    border-radius: 25px;
    height: 32px;
    width: 30%;
    color: dimgray;
    -webkit-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    background-color: rgba(255, 255, 255, 0.8);
}
.search_box {
    margin-top: 3.5%;
    height: 32px;
    width: 60%;
    line-height: 32px;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border: 0;
    float: left;
    border-radius: 25px 0 0 25px;
}
.search_box:focus {
    outline: 0;
    background-color: #fff;
}
.search_button {
    margin-top: 3.5%;
    background-color: rgba(150, 150, 150, 0.8);
    float: left;
    height: 32px;
    width: 20%;
    text-align: center;
    line-height: 32px;
    border: 0;
    color: #fff;
    font-size: 16px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    border-radius: 0 25px 25px 0;
}
.search_button:hover {
    background-color: rgba(70, 70, 70, 0.8);
}
.sign:hover{
    -webkit-text-fill-color: rgba(255, 255, 255, 0.8);
    background-color: rgba(70, 70, 70, 0.8);
}
.nav_icon{
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    height: 100%;
    width: 100%;
    text-align: center;
    border: 0;
    color: dimgray;
    text-rendering: auto;
    -webkit-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}
.nav_icon:hover {
    background-color: rgba(70, 70, 70, 0.8);
    color: white;
}